* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
}
/* to-top */
.to__top {
    position: fixed;
    z-index: 1;
    right: 1rem;
    top: 52rem;
}

/* Header */
header .header__container {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    height: 5.5rem;
    margin: auto;
    position: relative;
}

header .header__container__logo {
    position: absolute;
    top: 2.5rem;
    left: 0;
}

header .header__container__logo a {
    text-decoration: none;
}

header .header__container__logo span {
    color: #dc4312;
    font-size: 4rem;
}

header .header__container__logo p {
    text-transform: uppercase;
    padding-left: 1.5rem;
    letter-spacing: 2px;
    color: white;
}

header nav {
    width: 50%;
    margin-top: 2rem;
}

header nav ul {
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #29c0ff;
}

header nav ul li a.active {
    color: #dc4312;
}

/* Carousel */
#carousel {
    background-image: url(./../images/banner2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 45rem;
}

#carousel .carousel__container {
    display: flex;
    align-items: center;
    height: 100%;
    color: white;
    text-align: right;
    justify-content: flex-end;
    padding-right: 10rem;
}

#carousel .carousel__details {
    padding: 1rem;
}

#carousel .carousel__details h3 {
    font-size: 4.5rem;
    letter-spacing: 4px;
    font-weight: 400;
    padding-bottom: 3rem;
    line-height: 2rem;
}

#carousel .carousel__details p {
    letter-spacing: 7px;
    font-weight: 300;
    padding-top: 14px;
    line-height: 1.7rem;
    font-size: 1.5rem;
}

/* About */
#about {
    background-color: #29c0ff;
    color: white;
}

#about .about__container {
    width: 80%;
    margin: auto;
    padding: 1.5rem 0;
}

#about .about__container h3 {
    font-size: 3rem;
    font-weight: 400;
    padding: 1rem 0;
}

#about .about__container p {
    font-weight: 300;
    padding: 1rem 0;
    font-size: 1.5rem;
    color: #E2E2E2;
}

/* Welcome */
#welcome .welcome__container {
    width: 80%;
    margin: auto;
}

#welcome h3 {
    font-size: 3rem;
    font-weight: 400;
    padding: 1rem 0;
    text-align: center;
}

#welcome p {
    font-weight: 300;
    padding: 1rem 0;
    font-size: 1.5rem;
    text-align: center;
    width: 50%;
    margin: auto;
    color: #909090;
}

#welcome .welcome__container__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}

#welcome .welcome__items {
    position: relative;
}

#welcome .welcome__items img {
    width: 100%;
    height: 100%;
}

#welcome .welcome__items .text {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(14, 83%, 53%, 0.71);
    opacity: 0;
}

#welcome .welcome__items:hover .text {
    opacity: 1;
    transition: all 0.5s;
}

#welcome .welcome__items i {
    color: white;
    font-size: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; 
    opacity: 1;   
}

#welcome .welcome__items:hover i {
    opacity: 1;
    transform: translateX(45%);
    transition: all 0.5s;
}

#welcome .welcome__items .welcome__title {
    display: flex;
    padding: 10px;
}

#welcome .welcome__items .welcome__title i {
    color: #29c0ff;
    transform: none ;
    width: 26px;
    margin-right: 7px;
}

#welcome .welcome__items .welcome__title h3 {
    color: #eb5424;
    padding: 0;
    font-size: 2rem;
}

#welcome .welcome__items p {
    margin-left: 43px;
    color: #A0A0A0;
    text-align: left;
    width: 80%;
    font-size: 1rem;
    padding: 0;
}

/* Our Work */
#our__work h3 {
    font-size: 3rem;
    font-weight: 400;
    padding: 1rem 0;
    text-align: center;
}

.our__work__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: auto;
    grid-gap: 1rem;
}

#our__work .our__work__item {
    position: relative;
    overflow: hidden;
}


#our__work .our__work__item img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

#our__work .our__work__item .text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0,0.2);
}

#our__work .our__work__item .text h4 {
    position: absolute;
    top: 6rem;
    left: 2rem;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

#our__work .our__work__item .text h4::after {
    position: absolute;
    content: "We help you in your success";
    display: block;
    width: 13rem;
    padding: 0.5rem 1rem;
    margin: 2rem 0;
    font-size: 1rem;
    font-weight: 100;
    color: #29c0ff;
    background-color: rgba(0,0,0,0.7);
    transform: translateX(-115%);
}

#our__work .our__work__item .text span {
    font-size: 2rem;
    font-weight: 100;
}

#our__work .our__work__item:hover .text {
    background-color: rgba(0,0,0,0.5);
    transition: all 0.5s;
}

#our__work .our__work__item:hover img {
    transform: scale(1.1);
    transition: all 1s;    
}

#our__work .our__work__item .text:hover h4::after {
    transform: translateX(0px);
    transition: all 1s;
}

/* Succeed With Us */
#succeed h3 {
    font-size: 3rem;
    font-weight: 400;
    padding: 1rem 0;
    text-align: center;
    margin: 2rem 0;
}

#succeed .succeed__container {
    width: 80%;
    margin: auto;
}

.clear__both {
    clear: both;
}

#succeed .succeed__left {
    float: left;
    width: 50%;
}

#succeed .succeed__left h4 {
    font-size: 2.5rem;
    font-weight: 200;
    margin-top: 2rem;
}

#succeed .succeed__left li {
    color: #999;
    list-style: none;
    margin-top: 1rem;
    font-size: 1.5rem;
}

#succeed .succeed__left li i {
    color: #29c0ff;
    font-size: 1.5rem;
}

#succeed .succeed__right {
    position: relative;
    float: right;
}

#succeed .succeed__right img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#succeed .succeed__right .text {
    position: absolute;
    top: 0;
    color: white;
    width: 100%;
    height: 100%;
    padding: 2rem;
    margin: auto;
}

#succeed .succeed__right .text span {
    color: #29c0ff;
    font-size: 3rem;
}

#succeed .succeed__right .text p {
    margin: 3rem;
    font-size: 3rem;
    font-weight: 100;
}

/* Footer */
footer {
    background-color: #242424;
    margin-top: 2rem;
}

.float__left_25 {
    float: left;
    width: 25%;
}

footer .footer__list {
    width: 80%;
    margin: auto;
    padding: 1rem;
}

footer .footer__container {
    padding: 0 0 2.5rem 0;
}

footer .footer__item1 a {
    text-decoration: none;
    color: #848484;
}

footer .footer__item1 h4,
footer .footer__item2 h4,
footer .footer__item3 h4 {
    color: white;
    font-size: 2rem;
    font-weight: 200;
    margin-top: 2rem;
}

footer .footer__item1 li,
footer .footer__item2 li,
footer .footer__item3 p {
    color: #848484;
    list-style: none;
    margin-top: 1rem;
    font-size: 1rem;
}

footer .footer__item3 .email {
    margin-top: 1.5rem;
}

footer .footer__item3 .email input:first-child {
    width: 72%;
    padding: 9px 12px;
    font-size: 1em;
    float: left;
    color: #8D8D8D;
    outline: none;
    border: none;
    background: #fff;
}

footer .footer__item3 .email input:last-child {
    width: 24%;
    font-size: 14px;
    float: left;
    color: #fff;
    outline: none;
    padding: 9px 9px;
    border: none;
    background: #eb5424;
}
    
footer .footer__item4 {
    padding: 1rem;
    margin-top: 3rem;
}

footer .footer__item4 h3 {
    font-size: 3rem;
    color: white;
    font-weight: 400;
}

footer .footer__item4 p {
    font-size: 1em;
    color: #8D8D8D;
}

footer .footer__item4 p span {
    color: #eb5424;
}